[submodule "Adafruit-Eagle-Library"]
	path = Adafruit-Eagle-Library
	url = ../../adafruit/Adafruit-Eagle-Library.git
[submodule "SparkFun-Eagle-Libraries"]
	path = SparkFun-Eagle-Libraries
	url = ../../sparkfun/SparkFun-Eagle-Libraries.git
